<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="application-name" content="数据" />
<meta name="description" content="拼家网" />
<title>${pageTitle}</title>
<link rel="stylesheet" type="text/css" href="/static/default/css/common.css" />
<link href="/static/default/css/bootstrap.css" rel="stylesheet"	type="text/css" />
<link href="/static/default/css/jquery_css/jquery-ui.css"	rel="stylesheet" type="text/css" />
<link href="/static/default/css/jquery_css/jquery.ui.datepicker.css"	rel="stylesheet" type="text/css" />
<link href="/static/default/css/jquery_css/jquery.noty.css"	rel="stylesheet" type="text/css" />
<link href="/static/default/css/common.css" rel="stylesheet"	type="text/css" />
<link href="/static/default/css/channel.css" rel="stylesheet" type="text/css" />
<link href="/static/default/css/favo_detail.css" rel="stylesheet" type="text/css" />
<script src="/static/default/js/jquery-1.8.2.js" type="text/javascript"></script>
<script src="/static/default/js/pugin/jquery.cookie.js"></script>
<script src="/static/default/js/dome.js"></script>
<script src="/static/default/js/page.js"></script>
<script type="text/javascript">
	var appPath = "/";
</script>
<!--[if lt IE 7]>
	<script type="text/javascript" src="/js/plugin/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript"> 
		DD_belatedPNG.fix('.logo,.search_input,.left_nav,.nav_bot,.footer_shadow');  
	</script>
 <![endif]-->
<#include "/lib/default/tree_node.ftl">
</head>
<body class="gray_top_bg">
	<!-- top start -->
	<div class="top_bar">
		<div class="content_warp">
			<div class="left">
				<span id="login_user" class="login_user"> <a href="#">用户登录</a>
					<div id="userlogin" class="div_userlogin">
						<div class="top">用户登录</div>
						<div class="con">
							<div class="userlogin_form_div">
								<form action="#" method="post">
									<div class="left inputs_part">
										<div>
											<input class="inputlogin_user" name="j_username" type="text" maxlength="16" placeholder="用户名" />
										</div>
										<div>
											<input class="inputlogin_pw" name="j_password" type="text" maxlength="16" placeholder="密码" />
										</div>
									</div>
									<div class="left ml8">
										<div>
											<input type="submit" class="inputlogin_submit" value="" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</span>
				<span id="visitor">游客【在未登陆前，您将无法浏览全部内容！】</span>
				<span id="welcome">欢迎您：<span id="UserName"></span> </span> | <a href="#" id="logout">退出</a>
			</div>
			<div class="right">
				| <a href="#">收藏夹</a> | <a href="#">联系我们</a> | <a href="/admin/login">后台管理</a>
			</div>
		</div>
	</div>
	<!-- top end -->
	
	<!-- header start-->
	<div class="header">
		<div class="content_warp clearfix">
			<div class="left logo_div">
				<a href="javascript:gotoHome()" class="logo"></a><span>${pageTitle}</span>
			</div>
			<div class="right search_box">
				<form id="page_query_top" method="get" action="#" target="_black">
					<input id="pageType" name="pageType" type="hidden" value="${pageType}" />
					<input id="pageId" name="pageId" type="hidden" value="${pageId?c}" />
					<input id="queryStyle" name="queryStyle" type="hidden" value="ns" />
					<div class="search_input clearfix">
						<input id="queryStr" name="queryStr" type="text" />
						<button id="pageQueryBtnTop" class="search_btn"></button>
					</div>
					<div class="search_range clearfix">
						<div class="left search_set">
							<span>检索范围：</span>
							<label><input type="radio" name="ty" value="1" checked />标题 </label>
							<label><input type="radio" name="ty" value="2" />正文 </label>
							<label><input type="radio" name="ty" value="3" />标题+正文 </label>
						</div>
						<a href="#">高级检索</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- header end -->
	
	<!-- content start -->
	<div class="main">
		<div class="content_warp clearfix">
			<div class="left mt5">
				<div class="left_nav">
					<!-- 左边 树start -->
					<h3>资源索引</h3>
					<div class="left_menu" id="channel_menu"></div>
					<div class="nav_bot"></div>
					<!-- 左边 树end -->
					<!-- 左边 热门标签start -->
					<div class="tag">
						<#if (tags?size >0)>
							<span>热门标签</span>
							<ul class="tag_ul">
								<#list tags as item>
									<li><a href="/page/list/2${item.id?c}">${item.name}</a></li>
								</#list>
							</ul>
						</#if>
					</div>
					<!-- 左边 热门标签end -->
				</div>
			</div>
			<div class="right" id="channel_nav_fix_right">
				<div class="content">
					<#if parentPath?exists>
					<div class="channel_pagenav">
						>> <a href="/subpage${parentPath}index.html">返回上级</a>
					</div>
					</#if>
					
					<div class="temp">
						<h2 class="clearfix">
							<span class="title"><#if dataList.title!=''>${dataList.title}<#else>最新文章</#if></span>
							<#if dataList.href!='#'>
								<a href="${dataList.href}" class="more">
							<#else>
								<a href="/page/list/${pageType}/${pageId?c}" class="more"> </#if> 更多 >></a>
						</h2>
						<#list dataList.list as item>
							<h3>
								<a href="${item.href}"><b>${item.title}</b>
								</a>
							</h3>
							<div class="incon_text clearfix">
								<#if item_index == 0>
									<a href="${item.href}"><img src="${item.img}" /> </a>
								</#if>
								<div class="incon_text_right">
									${item.summary}
									<div class="sort">
										<#if item.tag!=''> <span>标签：</span> ${item.tag} </#if>
									</div>
								</div>
							</div>
						</#list>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->

	<!-- footer start -->
	<div class="footer">
		<a href="#" class="logo">服务商</a>
		<div class="bot">
			<ul class="bot_ul1">
				<li><a href="#">工长</a></li>
				<li><a href="#">环测</a></li>
				<li><a href="#">装修</a></li>
				<li><a href="#">监理</a></li>
				<li><a href="#">保洁</a></li>
				<li class="nborder"><a href="#">案例</a></li>
				<li><a href="#">评论</a></li>
				<li><a href="#">资料</a></li>
				<li class="nborder"><a href="#">资讯</a></li>
				<li><a href="#">课堂</a></li>
				<li><a href="#" class="nborder">商城</a></li>
				<li class="nborder"><a href="#">m站</a></li>
			</ul>
		</div>
		<div class="bot">
			<ul class="bot_ul2">
				<li><a href="#" target="_black">关于我们</a></li>
				<li class="nborder"><a href="#" target="_black">联系我们</a></li>
				<li><a href="#" target="_black">分类地图</a></li>
				<li class="nborder"><a href="#" target="_black">客户服务</a></li>
			</ul>
		</div>
		<div class="bot">
			<div class="right search_box">
				<form id="page_query_footer" method="get" action="#" target="_black">
					<input id="pageType" name="pageType" type="hidden" value="${pageType}" />
					<input id="pageId" name="pageId" type="hidden" value="${pageId?c}" />
					<input id="queryStyle" name="queryStyle" type="hidden" value="ns" />
					<div class="search_input clearfix">
						<input id="queryStr" name="queryStr" type="text" />
						<button id="pageQueryBtnFooter" class="search_btn"></button>
					</div>
					<div class="search_range clearfix">
						<div class="left search_set">
							<span>检索范围：</span>
							<label><input type="radio" name="ty" value="1" checked />标题 </label>
							<label><input type="radio" name="ty" value="2" />正文 </label>
							<label><input type="radio" name="ty" value="3" />标题+正文 </label>
						</div>
						<a href="#">高级检索</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- footer end -->
	<div class="footer_shadow"></div>
	<div class="bottom">
		<p><span>拼家网数据</span> <span>联系电话：010-65368285</span> <span>邮箱：kf@51pjia.com</span></p>
		<p>拼家网 Copyright © 1997-2013 by www.51pjia.com  all rights reserved reserve</p>
		<a id="back-to-top" href="#"></a>
	</div>
	<!--[if lt IE 5]><script src="js/plugin/iehack.js"></script> <![endif]-->
</body>
<script type="text/javascript">
	var tree = {
		"name" : "root",
		"children" : [ <@tree_node data=tree theid=id active=false /> ],
		"href" : "#"
	}
</script>
</html>