<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="首页, 国理, 北京国理律师事务所, 律师, 法务, 公司法务, 北京, 专业律师机构, 法评">
    <meta name="author" content="首页, 国理, 北京国理律师事务所, 律师, 法务, 公司法务, 北京, 专业律师机构, 法评">
    <meta name="keyword" content="首页, 国理, 北京国理律师事务所, 律师, 法务, 公司法务, 北京, 专业律师机构, 法评">
    <link rel="shortcut icon" href="/static/flatlab/img/favicon.ico">
    <title>首页, 国理, 北京国理律师事务所, 律师, 法务, 公司法务, 北京, 专业律师机构, 法评</title>
    <#include "/lib/flatlab/index_content.ftl">
    <!-- Bootstrap core CSS -->
    <link href="/static/flatlab/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/flatlab/css/bootstrap/theme.css" rel="stylesheet">
    <link href="/static/flatlab/css/bootstrap/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/flatlab/css/util/flexslider.css"/>
    <link href="/static/flatlab/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="/static/flatlab/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/flatlab/assets/revolution_slider/css/rs-style.css" media="screen">
    <link rel="stylesheet" href="/static/flatlab/assets/revolution_slider/rs-plugin/css/settings.css" media="screen">
    <!-- Custom styles for this template -->
    <link href="/static/flatlab/css/style.css" rel="stylesheet">
    <link href="/static/flatlab/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/flatlab/js/util/html5shiv.js"></script>
      <script src="/static/flatlab/js/util/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
     <!--header start-->
    <#include "/lib/flatlab/index_header.ftl">
    <!--header end-->

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>${dataBase.name}</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.html">首页</a></li>
                        <li class="active">${dataBase.name}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
        <div class="row">
            <!--blog start-->
            <div class="col-lg-9 ">
            	<#if dataList?exists && dataList?size gt 0>
            		<#list dataList as item>
		                <div class="blog-item">
		                    <div class="row">
		                        <div class="col-lg-2 col-sm-2">
		                            <div class="date-wrap">
		                                <span class="date">${item.day!""}日</span>
		                                <span class="month">${item.month!""}月</span>
		                            </div>
		                            <div class="comnt-wrap">
		                                <span class="comnt-ico">
		                                    <i class="icon-comments"></i>
		                                </span>
		                                <span class="value">${item.year!""}年</span>
		                            </div>
		                        </div>
		                        <div class="col-lg-10 col-sm-10">
		                            <div class="blog-img">
		                                <img src='${item.img!""}'/>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-lg-2 col-sm-2 text-right">
		                            <div class="author">
		                                作者 <a href="#">${item.authors!""}</a>
		                            </div>
		                        </div>
		                        <div class="col-lg-10 col-sm-10">
		                            <h1><a href="/page${dataBase.pathCode}${item.tableId}_${item.id}">${item.title!""}</a></h1>
		                            <p>${item.summary!""}</p>
		                            <a href="/page${dataBase.pathCode}${item.tableId}_${item.id}" class="btn btn-danger">详情</a>
		                        </div>
		                    </div>
		                </div>
                	</#list>
                <#else>
					<br>无数据
				</#if>
				<#if paging?exists>
	                <div class="text-center">
	                    <ul class="pagination">
	                        <li><a href="/page/${type}/list/${dataBase.id}?pageNum=${paging.preNum}">«</a></li>
	                        <#list paging.pageStart..paging.pageEnd as index>
	                        	<#if paging.curNum==index>
	                        		<li class="active"><a href="#">${index}</a></li>
	                        	<#else>
	                        		<li><a href="/page/${type}/list/${dataBase.id}?pageNum=${index}">${index}</a></li>
	                        	</#if>
	                        </#list>
	                        <li><a href="/page/${type}/list/${dataBase.id}?pageNum=${paging.nextNum}">»</a></li>
	                    </ul>
	                </div>
				</#if>
            </div>
            <div class="col-lg-3">
                <div class="blog-side-item">
                    <div class="search-row">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <div class="category">
                        <h3>分类</h3>
                        <ul class="list-unstyled">
                            <li><a href="javascript:;"><i class="  icon-angle-right"></i> ${dataBase.name}</a></li>
                        </ul>
                    </div>
                    <div class="tags">
                        <h3>文章标签</h3>
                        <ul class="list-unstyled tag">
                            <li><a href="#">国理</a></li>
                            <li><a href="#">${dataBase.name}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--blog end-->
        </div>

    </div>
    <!--container end-->

     <!--footer start-->
     <#include "/lib/flatlab/index_footer.ftl">
     <!--footer end-->

  <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/flatlab/js/jquery/jquery.js"></script>
    <script src="/static/flatlab/js/jquery/jquery-1.8.3.min.js"></script>
    <script src="/static/flatlab/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/flatlab/js/jquery/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/flatlab/js/util/hover-dropdown.js"></script>
    <script defer src="/static/flatlab/js/jquery/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/static/flatlab/assets/bxslider/jquery.bxslider.js"></script>
 	<!--common script for all pages-->
    <script src="/static/flatlab/js/util/common-scripts.js"></script>
	<script src="/static/flatlab/js/util/link-hover.js"></script>
  </body>
</html>
